@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
    .bg {
        background-color: #a64418;
    }
    .text-center{
        
        color:cornsilk;
        font-family:Montserrat;
       
    }

    

</style>
    

<body id="background-container"></body>
    
   


    <div class="text-center">

    <h1 class="display-4">Your National Parks</h1>
    <br />
    <h3>A U.S. National Parks Directory</h3>
   
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>



