@{
    ViewData["Title"] = "Home Page";
}

  
    
<body id="background-container">
    


<div class="text-center">

    <h1 class="display-4">Your National Parks Directory!</h1>
    <br />
    <h3>A U.S. National Parks Database</h3>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>



</body>
