

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.rating {
    position: relative;
    display: inline-block;
}

    .rating i {
        position: absolute;
        top: 50%;
        right: 40px;
        color: #4a7729;
        transform: translateY(-50%);
    }

.hiker {
    color: #4a7729;
}

  .gray-hiker {
        color: black;
    }

.sorting{
    margin-bottom: 10px;
    text-align: right;
}
.sorting label{
    margin-right: 10px;
    
}

.sorting select{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: cornsilk;
}
.park-photo {
    max-width: 100%;
    height: auto;
    border: groove;
    border-color: #a64418;
    border-width: thick;
    justify-content:center;
}


#background-container {
    background-image: url('images/huper-by-joshua-earle-lwyua42uml8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    
}

th.sortable {
    cursor: pointer;
    user-select: none;
    
}

    th.sortable:hover {
        background-color: #a64418;
        color: white;
    }

    .sortable.asc::after {
        content: ' ▲';
        display: inline-block;
        margin-left: 5px;
    }

    .sortable.desc::after {
        content: ' ▼';
        display: inline-block;
        margin-left: 5px;
    }

.custom-btn {
    background-color: #a64418 ;
    outline: groove;
    outline-color: cornsilk;
    color: cornsilk;
    border-radius:20px;
    width: 167px;
}

    .custom-btn:hover {
        background-color: #953D16;
    }
.background {
    background-blend-mode: color; 
    background-color: #d3bf9f;
}

.success-max2 {
    background-color: forestgreen;
    outline: none;
    color: white;
}

.custom-btn a:hover{
    color: white;
    
}
.button-container{
    display: flex;
    justify-content: flex-start;
    
}

.button-container .btn{
    margin-left: 10px;
  
}

}
.photo-gallery{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
   


.table-hover {
    color: #a64418;
}

.form-control{
    background-color: cornsilk;
    
}

h2{
    text-align: center;
}



.form-control:focus{
    background-color: cornsilk;
}
.button-container-pre-next {
    display: flex;
    justify-content: flex-end;
   
   
}
.button-container-pre-next .custom-btn{
    margin-right: 10px;
    
}


.button-container-pre-next .custom-btn i{
    margin-right: 10px;
    margin-left: 10px;
    
}

.fas fa-chevron-left{
    padding-right: 10px;
}

.alert {
    background-color: #a64418;
    border: 1px  groove;
    color: cornsilk;
    border-width: thick;
    border-color: cornsilk;
}